# Part 3

### Import the relevant packages

In [1]:
import numpy as np
import pandas as pd
import os

### Import the data and concatenate all the files so we can work with one file

In [26]:
folder_path = 'D:/codeFiles/GitHub/FinanceLab-ass1/data'

options_dfs = []

for filename in os.listdir(folder_path):
    if ('2022' not in filename) and ('2023' not in filename):
        continue
    file_path = os.path.join(folder_path, filename)

    options_df = pd.read_csv(file_path, low_memory=False)

    options_dfs.append(options_df)

options_df = pd.concat(options_dfs, ignore_index=True)

# fix column names by removing [, ], " " characters
options_df.columns = options_df.columns.str.strip('[] ')

# Define data types for all columns
for col in options_df.columns:
    if col.startswith('C_') or col.startswith('P_'):
        options_df[col] = pd.to_numeric(options_df[col], errors='coerce')

dtypes = {
    'QUOTE_UNIXTIME': 'int64',
    'QUOTE_READTIME': 'datetime64[ns]',
    'QUOTE_DATE': 'datetime64[ns]',
    'QUOTE_TIME_HOURS': 'float64',
    'UNDERLYING_LAST': 'float64',
    'EXPIRE_DATE': 'datetime64[ns]',
    'EXPIRE_UNIX': 'int64',
    'DTE': 'float64',
    'C_DELTA': 'float64',
    'C_GAMMA': 'float64',
    'C_VEGA': 'float64',
    'C_THETA': 'float64',
    'C_RHO': 'float64',
    'C_IV': 'float64',
    'C_VOLUME': 'float64',
    'C_LAST': 'float64',
    'C_SIZE': 'float64',
    'C_BID': 'float64',
    'C_ASK': 'float64',
    'STRIKE': 'float64',
    'P_BID': 'float64',
    'P_ASK': 'float64',
    'P_SIZE': 'float64',
    'P_LAST': 'float64',
    'P_DELTA': 'float64',
    'P_VOLUME': 'float64',
    'STRIKE_DISTANCE': 'float64',
    'STRIKE_DISTANCE_PCT': 'float64'
}

# Convert columns to the specified data types
options_df = options_df.astype(dtypes)

### Leave only the relevant rows

In [27]:
options_df = options_df[(options_df['C_VOLUME'] >= 100)  & (options_df['P_VOLUME'] >= 100)]

### Define our profit, and what we should do to make it

In [28]:
options_df['Profit'] = (options_df['C_LAST'] + options_df['STRIKE'] - options_df['UNDERLYING_LAST'] - options_df['P_LAST']).abs()

In [39]:
max_profit_df = options_df.loc[options_df.groupby('QUOTE_DATE')['Profit'].idxmax()]

In [40]:
max_profit_df

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,Profit
2356,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2024-01-19,1705698000,381.00,0.58123,0.00505,...,-0.44093,0.00596,1.04239,-0.02653,-1.06947,0.27803,175.0,5.5,0.021,9.62
4832,1672866000,2023-01-04 16:00:00,2023-01-04,16.0,265.75,2023-12-15,1702674000,345.00,0.50204,0.00579,...,-0.53549,0.00686,0.99410,-0.02552,-1.05378,0.26646,151.0,19.2,0.072,10.92
7477,1672952400,2023-01-05 16:00:00,2023-01-05,16.0,261.65,2023-12-15,1702674000,344.00,0.61883,0.00533,...,-0.40056,0.00594,0.96529,-0.02834,-0.89885,0.28371,473.0,1.6,0.006,10.70
10221,1673038800,2023-01-06 16:00:00,2023-01-06,16.0,268.76,2023-12-15,1702674000,343.00,0.42697,0.00604,...,-0.62898,0.00761,0.93452,-0.02112,-1.06236,0.24823,250.0,31.2,0.116,8.73
12682,1673298000,2023-01-09 16:00:00,2023-01-09,16.0,270.54,2023-09-15,1694808000,248.96,0.53177,0.00674,...,-0.49075,0.00751,0.87564,-0.03336,-0.77924,0.26653,10251.0,9.5,0.035,7.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836865,1703278800,2023-12-22 16:00:00,2023-12-22,16.0,408.44,2024-12-20,1734728400,364.00,0.50690,0.00472,...,-0.54632,0.00663,1.51361,-0.02245,-1.44869,0.18798,450.0,21.6,0.053,16.94
841894,1703624400,2023-12-26 16:00:00,2023-12-26,16.0,410.88,2024-06-21,1719000000,177.96,0.76212,0.00475,...,-0.23339,0.00518,0.87262,-0.04068,-0.44776,0.21430,296.0,30.9,0.075,8.65
846087,1703710800,2023-12-27 16:00:00,2023-12-27,16.0,411.50,2024-06-21,1719000000,176.96,0.49650,0.00778,...,-0.55046,0.00976,1.08311,-0.03326,-0.74263,0.17467,215.0,13.3,0.032,8.89
849670,1703797200,2023-12-28 16:00:00,2023-12-28,16.0,411.21,2024-12-20,1734728400,358.00,0.54502,0.00463,...,-0.49421,0.00628,1.54107,-0.02519,-1.40940,0.19311,1250.0,13.6,0.033,16.97
853570,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-06-21,1719000000,174.96,0.67978,0.00603,...,-0.32054,0.00682,1.00401,-0.04075,-0.56924,0.19498,489.0,14.7,0.036,11.03

In [44]:
# max_profit_df = options_df.groupby('QUOTE_DATE').max('Profit')
max_profit_df = options_df.loc[options_df.groupby('QUOTE_DATE')['Profit'].idxmax()]
max_profit_df['Action'] =  np.where(
    (max_profit_df['C_LAST'] + max_profit_df['STRIKE'] - max_profit_df['UNDERLYING_LAST'] > max_profit_df['P_LAST']), 'Buy Put', 'Buy Call')
max_profit_df.sort_values(by = 'Profit', ascending = False).head(5)[['QUOTE_DATE', 'C_LAST', 'P_LAST', 'UNDERLYING_LAST', 'STRIKE', 'Profit', 'Action']]

       QUOTE_DATE  C_LAST  P_LAST  UNDERLYING_LAST  STRIKE  Profit   Action
175679 2023-03-22   51.89   32.64           306.07   310.0   23.18  Buy Put
810730 2023-12-12   61.33   25.71           398.75   385.0   21.87  Buy Put
123961 2023-03-01   47.20   30.65           291.16   295.0   20.39  Buy Put
341143 2023-05-31   36.30   43.50           347.66   375.0   20.14  Buy Put
507211 2023-08-07   58.98   24.45           375.18   360.0   19.35  Buy Put

### As we can see, these are to top 5 days in terms of profit.
### The full description of what we should do to make our profit is in the WORD file.

In [ ]:
max_profit_df.Profit.sum() * 100

226194.99999999997

### The over-all profit we suppose to do in terms of 100 units-deals